@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.pageCaption {
  font-weight: 400;
  margin-top: 40px;
  margin-left: 15px;
}
.listWrapper {
  width: 100vw;
  overflow: hidden;
  padding-left: 15px;
}
.productList {
  display: flex;
  transition: transform 0.5s ease;
  perspective: 1000px;
}
.product {
  width: 80%;
  border-radius: 30px;
  padding-left: 26px;
  padding-top: 26px;
  margin-right: 20%;
  height: 380px;
  position: relative;
}
.product img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  transform: rotate(-50deg) translate(50px, 50px);
  transition: transform 0.5s ease-in-out;
  transition-delay: 0.25s;
}
.product.active img {
  transform: rotate(-30deg) translate(30px, 30px);
}
.product.active {
  animation: flip 1s cubic-bezier(0.63, 0.25, 0.63, 0.95) 0s 1 normal none;
}
.product h3 {
  font-size: 1.9em;
}
.product .price {
  font-size: 1.3em;
  font-weight: 300;
  letter-spacing: 1px;
}
@keyframes flip {
  0.0% {
    transform: rotate3d(0, 1, 1, 0deg);
  }
  33.3% {
    transform: rotate3d(0, 1, 0, -2deg);
  }
  66.6% {
    transform: rotate3d(0, 1, 0, 2deg);
  }
}
